
.navbar-lewagon {
  .navbar-nav {
    .nav-link.dropdown-toggle {
      &.avatar {
        color: #4ecdc4;
        font-size: 1.8rem;
        margin-left: -10px;
        margin-top: -5px;
      }
    }
  }

  .navbar-nav.ms-auto {
    margin-left: auto !important;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
